// Variables
$menus-orange: #f85a40;
$icons-header:#afd5d1;
$white: #ffffff;
$white-smoke: #94c4be;
$gray: #d9d9d9;
$top-header: #00796b;
$navbar-bg:#008374;
$default-bg:#008374;
$icon-boxes:#008d7d;
$service-bg:#f6f6f6;
$service-icon:#ededed;
// $body:#ffc107;
$carosel-bullet:#cccccc;
$contact:#009282;
