* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #dce8f8;
}
body::-webkit-scrollbar-thumb {
  background: #149ddd;
  border-radius: 10px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
section {
  padding: 60px 0;
  overflow: hidden;
}
.heading {
  font-size: 32px;
  font-weight: 600;
  color: #173b6c;
}
.heading-line {
  background-color: #149ddd;
  width: 65px;
  height: 3px;
}
.para {
  color: #212431;
}
.active span {
  color: #fff;
}
.active .menus-icon {
  color: #149ddd;
}
.static-txt {
  font-size: 38px;
}
.rotate-words {
  display: inline;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 12px;
}
@media screen and (min-width: 786px) {
  .rotate-words {
    font-size: 35px;
    margin-top: 0px;
  }
}
.side-bar .mine:hover {
  border: 8px solid #149ddd;
}
.rotate-words span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  background-color: #149ddd;
  padding-inline: 10px;
  // opacity: 0;
  -webkit-transform-origin: 10% 75%;
  transform-origin: 10% 75%;
  -webkit-animation: rotatewords 12s var(--d) linear infinite;
  animation: rotatewords 12s var(--d) linear infinite;
}
@-webkit-keyframes rotatewords {
  5% {
    opacity: 1;
  }
  10%,
  20% {
    opacity: 1;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  15% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(90px) rotate(10deg);
    transform: translateY(90px) rotate(10deg);
  }
}
@keyframes rotatewords {
  5% {
    opacity: 1;
  }
  10%,
  20% {
    opacity: 1;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  15% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(90px) rotate(10deg);
    transform: translateY(90px) rotate(10deg);
  }
}

.typewriter{
  color: white;
}
.location:hover .card-circle {
  color: #fff;
  background-color: #149ddd;
}
.download-btn {
  background-color: #173b6c;
  color: #fff;
  border: 2px solid #173b6c;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.side-bar {
  background-color: #040b14;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px 15px;
  overflow-y: auto;
  color: #fff;
}
.side-bar .mine {
  margin: 15px auto;
  display: block;
  width: 120px;
  height:120px;
  border: 8px solid #2c2f3f;
}
.side-bar .social-medias a {
  font-size: 16px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.side-bar .nav-menu {
  padding: 30px 0 0 0;
}
.side-bar .nav-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}
.side-bar .nav-menu a .menus-icon {
  font-size: 24px;
  padding-right: 10px;
}
@media (max-width: 1200px) {
  .sidebar {
    max-width: 300px;
  }
}
@media (max-width: 1200px) {
  .menu-toggle {
    display: block;
  }
  .side-bar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .side-bar.is-active {
    left: 0;
  }
}
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 18px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}
.side-bar .social-medias a:hover {
  background-color: #149ddd;
}
@media screen and (min-width: 1200px) {
  .mobile-nav-toggle {
    display: none;
  }
}
.bi-bar {
  content: "";
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
}
#main {
  margin-left: 0;
}
#home {
  width: 100%;
  height: 100vh;
  background: url("/public/images/wallpaper.jpg") top center;
  background-size: cover;
}
#home .home-container {
  position: relative;
  z-index: 2;
  min-width: 65%;
  bottom: 25%;
}
#home::before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  #main {
    margin-left: 300px;
  }
}
.about {
  color: #212431;
}
.about-head {
  color: #173b6c;
  font-weight: 600;
}
.content ul li {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  font-size: 16px;
}
.content ul li span {
  font-size: 14px;
}
.content ul .about-icon {
  margin-right: 10px;
  line-height: 0;
  color: #149ddd;
  font-size: 18px;
}
.content ul strong {
  margin-right: 10px;
}
.skills {
  background-color: #f5f8fd;
}
.progress {
  height: 75px;
  display: block;
  background: none;
  border-radius: 0;
}
.skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}
.val {
  float: right;
  font-style: normal;
}
.progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}
.progress-bar {
  width: 1px;
  height: 10px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  background-color: #149ddd;
}
.resume {
  color: #212431;
}
.resume .resume-item {
  padding: 0 0 0px 30px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}
.resume .resume-item ::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}
.resume .resume-item button {
  border: none;
  padding: 7px 10px;
  background-color: #e4edf9;
}
.portfolio {
  background-color: #f5f8fd;
  color: #212431;
}
.portfolio .container .row .portfolio-img {
  border-radius: 3px;
  border: 0.5px solid rgba(136, 136, 136, 0.1);
  -webkit-filter: drop-shadow(0px 0px 24px rgba(180, 180, 180, 0.25));
  filter: drop-shadow(0px 0px 24px rgba(180, 180, 180, 0.25));
}
.portfolio .container .row .btn {
  background-color: #fff;
  border: 2px solid #173b6c;
  color: #173b6c;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.portfolio .container .row .download {
  background-color: #173b6c;
  color: #fff;
  border: 2px solid #173b6c;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.card {
  background: #fff;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
  border: none;
  border-top: 5px solid #173b6c;
  border-radius: 0px;
}
.card .card-details {
  padding: 30px 23px;
}
.card .card-circle {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card h5 {
  margin-bottom: 0.2rem;
}
.card small {
  color: #173b6c;
}
.card .email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
}
.card .email-form .form-group {
  margin-bottom: 15px;
  padding-bottom: 8px;
}
.card .email-form .form-group textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
}
.card .email-form .form-group .form-label {
  color: #272829;
  font-weight: 300;
}
.card .email-form .btn {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}
.card input {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  height: 44px;
}
@media screen and (min-width: 786px) {
  .card .card-details {
    padding: 30px 32px;
  }
} /*# sourceMappingURL=style.min.css.map */
